language: node
os:
    - linux
services:
    - docker

before_install:
    - docker build -t ajoypaul/docker-react:latest -f Dockerfile.dev .

script:
    - docker run -e CI=true ajoypaul/docker-react:latest npm run test